# Local files
my-db.properties

# Mavean
/target
/.apt_generated/
/.apt_generated_tests/

# Eclipse
/bin
.idea
.classpath
.project
.settings

# Visual Code
.vscode

# Unknown
/.factorypath
/dbload.iml
/dependency-reduced-pom.xml
/*.dat